body {
    background-color: #ffcd8c; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #222;
    margin-top: 100px;
} 

img {
    width: 100%;
}

.jasper {
    margin: 15px 0;
    font-size: 2em;
    font-family: fantasy;
}

h2 {
    margin: 0;
    font-weight: 100;
    font-size: large;
}

.card {
    background-color: #ffe9c9;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
    border: 0.6px solid #fd8433;
}

.card .avatar {
    width: 120px;
    border-radius: 50%;
    margin-top: 50px;
    box-shadow:#d26e2c66 0 10px 10px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

body {
    background-color: #ffcd8c; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #222;
    margin-top: 100px;
} 


.h111 {
    font-size: 4em;
    text-align: center;
    color: rgb(26, 66, 129);
    font-family: Big Calson;
}

.nav {
    width: auto;
    text-align: center;
    list-style-type: none;
    font-style: italic;
}

.nav a:link {
    text-decoration: none;
}

.nav a:hover {
    opacity: 50%;
}

.nav li {
    display: inline-block;
}

.but1 {
    border: 0.6px solid #e96e1d;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.633);
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    box-shadow: #fd8433 0 0 5px;
}

.but2 {
    border: 0.6px solid #e96e1d;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.633);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: #fd8433 0 0 5px;
}

.but3 {
    border: 0.6px solid #e96e1d;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.633);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: #fd8433 0 0 5px;
}